@CHARSET "UTF-8";

.error-input {
	border-color: #ff0000;
	background-color: #ff0000;
	margin-left: 5px;
}

.error-messages {
	color: #ff0000;
}

.page-nav {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.page-nav > div {
	display: inline-block;
	text-align: center;
}

.page-nav > div > div {
	display: inline-block;
	padding: 6px 12px;
	border: solid #cccccc 1px;
}

.page-nav .current-page {
	font-weight: bold;
}

.page-nav .disabled-link {
	color: gray;
}

.form-smaller {
	display: flex;
}

.zipcode input {
	max-width: 6em;
}

.zipcode button {
	margin-left: 0.8em;
}

.form-control + span {
	display: inline-block;
	padding: 0 4px;
	font-size: 120%;
  line-height: 34px;
}
